Makefile.in
aclocal.m4
autom4te.cache
compile
configure
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
Makefile
*.help
*.log
*.db
config.log
config.status
libtool
srvx
srvx.conf
srvx.pid
sockcheck.conf
*.o
